*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --hue: 360;
    --saturation: 50%;
    --background-color: hsl(var(--hue), var(--saturation), 80%);
    --foreground-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
    margin: 0;
    background: var(--background-color);
    overflow: hidden;
}

.ball {
    --x: 50;
    --y: 50;

    height: 20px;
    width: 20px;
    position: absolute;
    background: var(--foreground-color);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 100%;
}